{% extends "layout.html" %}




{% block content %}{% endblock %}

    
    
{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}
    
{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">    
    <!-- Bootstrap theme -->
    <link href="css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/libs/bootstrap/assets/html5shiv.js"></script>
      <script src="js/libs/bootstrap/assets/respond.min.js"></script>
    <![endif]-->
{% endblock %}
    
{% block javascript %}
    <script data-main="js/main" src="js/libs/require/require.js"></script>
{% endblock %}